/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
@use 'colors.scss';

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;

    &:focus {
        outline-color: transparent;
        outline-style: solid;
        box-shadow: 0 0 0 .125rem var(--t-pink-bg);
        @include transition(box-shadow 0.10s);
    }
}

::selection {
    background-color: color-mix(in srgb, var(--t-pink-bg), transparent 70%);
}

#__nuxt {
    isolation: isolate;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100svh;
    max-width: 50rem;
    margin: auto;
}

body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-variant-ligatures: normal;
    background-color: var(--t-bg);
    color: var(--t-text);
    @include transition(color .16s, background-color .16s);
}

a,
a:visited {
    @include transition(color .16s, background-color .16s);
    color: var(--t-pink-text);
    padding: .125em .25em;
    margin: -.125em -.25em;
    // border-radius: $radius;
}

a:hover,
a:focus {
    background-color: var(--t-pink-bg);
    color: var(--c-dark-text);

}

@include media-query($on-laptop + $spacing-unit) {
    #__nuxt {
        margin: 0 $half-spacing-unit;
    }
}

blockquote {
    font-size: 1.25rem;
    @include transition(color .16s, background-color .16s, border-inline-start .16s);
    padding: $quarter-spacing-unit $half-spacing-unit;
    line-height: 1.5;
    border-inline-start: $quarter-spacing-unit solid;
    background-color: var(--t-bg-el1);
    // border-radius: $radius;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $header-font-family;
}

input,
button,
textarea,
select {
    font: inherit;
    color: var(--t-text);
    background-color: var(--t-bg-el1);
    border: .125rem solid;
    // border-radius: $half-radius;
}

button,
input[type=reset],
input[type=submit],
select {
    @include transition(color .16s, background-color .16s);

    &:hover {
        background-color: var(--t-text);
        color: var(--t-bg);
    }

    &:active {
        background-color: var(--t-pink-bg);
        border: .125rem solid var(--t-pink-bg);
        color: var(--t-text);
    }
}


ul,
ol {
    padding-left: 1.25em;
}

// for markdown content
ul.contains-task-list {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: $quarter-spacing-unit;
}

code,
kbd {
    font-family: $mono-font-family;
    font-size: 0.85em;
}

pre {
    font-family: $mono-font-family;
    background-color: var(--t-bg-el1);
    // overflow: scroll;
    padding: $half-spacing-unit;
    // margin: $half-spacing-unit 0;
    // border-radius: $radius;
    border: .125rem solid;
}

img,
video {
    max-width: 100%;
    height: auto;
}

table {
    border-collapse: collapse;
    // border-radius: $radius;
    border: .125rem solid;

    // does not work :(
    // // hack to get rounded corners
    // border: hidden;
    // box-shadow: 0 0 0 .125rem solid;
}

small {
    font-size: $small-font-size;
}

th,
td {
    border: .125rem solid;
    padding: $quarter-spacing-unit;
}

tr:nth-child(odd) {
    background-color: var(--t-bg-el1);
}

tr:nth-child(even) {
    background-color: var(--t-bg-el2);
}

thead th:empty {
    display: none;
}

.iconify {
    // background-color: var(--t-text) !important;
    vertical-align: sub;
}

a .link-icon {
    vertical-align: middle;
    padding: 0;
    width: .85em;
    height: .85em;
    margin-left: 0em;
}

.hstack {
    display: flex;
    flex-direction: row;
}

.vstack {
    display: flex;
    flex-direction: column;
}

.gap-0 {
    gap: $eighth-spacing-unit;
}

.gap-1 {
    gap: $quarter-spacing-unit;
}

.gap-2 {
    gap: $half-spacing-unit;
}

.gap-3 {
    gap: $spacing-unit;
}

.el1 {
    background-color: var(--t-bg-el1);
}

.el2 {
    background-color: var(--t-bg-el2);
}

.devwarn,
.devinfo {
    padding: $quarter-spacing-unit;
    // border-radius: $radius;
}

.devwarn {
    background-color: red;
    color: white;
}

.devinfo {
    background-color: gold;
    color: black;
}

.katex-display {
    font-size: $base-font-size; // make sure katex size stays the same no matter the context
}

// heading-anchor
.h-anc {
    // display: inline-block;
    // position: absolute;
    // left: -1em;
    font-size: 1.5rem;
    user-select: none;
    padding: 0;
    margin: 0;
    margin-left: $quarter-spacing-unit;

    &:hover,
    &:focus {
        padding: 0;
    }
}

:target {
    scroll-margin-top: $spacing-unit
}